
// Estilos para la pagina de categoria

.container-categorie_item {

	position: relative;
	display: inline-flex;
	justify-content: center;
	margin-bottom: rem(24px);


	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: rem(-16px);
		margin-left: 1em;
		width: calc(50% - 47px);
		border: 1px solid var(--border-color);

		@include from(m) {
			width: calc(50% - 59px);
		}
	}

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		margin-right: 1em;
		right: rem(-16px);
		width: calc(50% - 47px);
		border: 1px solid var(--border-color);

		@include from(m) {
			width: calc(50% - 59px);
		}
	}

	& > .item__subtitle {
		display: inline-flex;
		padding: rem(0px) rem(16px);
		// width: 100%;
	}

}