
// Estilos para la pagina de clasificación

.container-card_ranking {
	padding-right: rem(16px);
	padding-left: rem(16px);
	border-radius: var(--border-radius);
	background: var(--bg-container);
	box-shadow: var(--box-shadow);

	&:hover {
		background: var(--conversation-color);
		cursor: pointer;
	}

	&.active {
		background: var(--chat-color);
	}

	&:last-child {
		margin-bottom: rem(0px);
	}
}

.ranking__data {
	display: flex;
}

.data-item__userRanking {
	display: flex;
	flex: 0 0 auto;
	cursor: default;
	width: rem(48px);
	height: rem(48px);
	border-radius: 50%;
	border: 1px solid var(--content-color);

	@include from(m) {
		width: rem(51px);
		height: rem(51px);
	}

	& > img {
		border-radius: 50%;
		object-fit: cover;
		width: 100%;
	}

}

.data-item__sectionRanking {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: rem(8px);
	flex: 1 1 auto;

	& > .sectionRanking__user {
		margin-bottom: rem(6px);

		@include from(m) {
			margin-bottom: rem(4px);
		}
	}

}

.ranking__content-left,
.ranking__content-right {
	padding: rem(8px) rem(16px);
}

.content-left__item,
.content-right__item {
	display: flex;
	padding: rem(4px) rem(6px);
	width: rem(48px);
	height: rem(44px);
	color: var(--primary-color);
	border-radius: var(--border-radius);
	border: 1px solid var(--primary-color);
	background: var(--bg-container);

	&:hover {
		cursor: pointer;
		background: var(--chat-color);
	}

	@include from(m) {
		padding: rem(8px) rem(12px);
		width: rem(64px);
		height: rem(56px);
	}

	&.disabled {
		color: var(--border-color);
		border: 1px solid var(--border-color);

		&:hover {
			cursor: default;
			background: var(--bg-container);
		}
	}
}

.ranking__content-left {
	justify-content: flex-end;
}

.ranking__content-right {
	justify-content: flex-start;
}

.container-listDivition {
	border: 1px solid var(--primary-color);
	border-radius: var(--border-radius);
	background: var(--bg-container);
	padding: rem(20px) rem(16px);
}

.container-item_divition {
	display: flex;
	padding: rem(4px) rem(16px);
	border-bottom: 1px solid var(--primary-color);
	margin-top: rem(8px);

	&:first-child {
		margin-top: rem(0px);
	}
}

