
// Contenedor para los iconos

.container-icon {

	&-add {
		width: rem(23px);
		height: rem(23px);

		@include from(m) {
			width: rem(26px);
			height: rem(26px);
		}
	}

	&-profile {
		width: rem(24px);
		height: rem(24px);
	}

	&-follow {
		margin-right: rem(8px);
		width: rem(26px);
		height: rem(26px);

		@include from(m) {
			width: rem(32px);
			height: rem(32px);
		}
	}

	&-menu {
		width: rem(32px);
		height: rem(32px);

		@include from(m) {
			margin-right: rem(4px);
			width: rem(26px);
			height: rem(26px);
		}
	}

	&-nav {
		width: rem(36px);
		height: rem(36px);
	}

	&-logo {
		margin-right: rem(4px);
		color: var(--primary-color);
		width: rem(20px);
		height: rem(20px);
	}

	&-arrowBackMenu {
		width: rem(36px);
		height: rem(36px);

		@include from(m) {
			width: rem(44px);
			height: rem(44px);
		}
	}

	&-arrowCategorie {
		width: rem(16px);
		height: rem(16px);
		display: flex;

		@include from(m) {
			width: rem(24px);
			height: rem(24px);
		}
	}

	&-playCategorieCard {
		width: rem(25px);
		height: rem(25px);
		position: absolute;
		color: var(--bg-container);
		cursor: pointer;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;

		@include from(m) {
			width: rem(28px);
			height: rem(28px);
		}

		&:hover {
			color: var(--primary-alt-color);
		}
	}

	&-playSong {
		width: rem(31px);
		height: rem(31px);
		color: var(--bg-container);
		display: inline-flex;
		cursor: pointer;

		@include from(m) {
			width: rem(35px);
			height: rem(35px);
		}

		&:hover {
			color: var(--primary-alt-color);
		}
	}

}