// Cabecera: Parte superior

.main-header,
.secondary-header {
	background: var(--bg-container);
	height: var(--header-height-mobile);
	position: fixed;
	z-index: var(--z-fixed);
	width: 100%;
	border-bottom: 1px solid var(--border-color);
	overflow: hidden;

	@include from(m) {
		height: var(--header-height-web);
	}
}

.main-header {

	// Desde 0px hasta 640px
	@include fromTo(0px, 641px) {
		&.chatview {
			display: none;
		}
	}

	&.default {
		display: flex;
	}
}

.secondary-header {

	// Desde 641px
	@include from(641px) {
		&.chatview {
			display: none;
		}
	}

	&.default {
		display: none;
	}
}